AB_AUTH=MeeshoTest123
CATALOG_FILTERING_GRPC_CHANNEL_POOL_SIZE=50
CATALOG_FILTERING_GRPC_CONNECT_TIMEOUT=50000
CATALOG_FILTERING_GRPC_CONN_REQUEST_TIMEOUT=50000
CATALOG_FILTERING_GRPC_DEADLINE=30
CATALOG_FILTERING_GRPC_GRPC_PLAIN_TEXT=true
CATALOG_FILTERING_GRPC_HOST=catalog-visibility-filtering-secondary-web.stg.meesho.int
CATALOG_FILTERING_GRPC_KEEP_ALIVE_TIMEOUT=50000
CATALOG_FILTERING_GRPC_PORT=8080
CATALOG_FILTERING_GRPC_QUEUE_POOL_SIZE=10
CATALOG_FILTERING_GRPC_THREAD_POOL_SIZE=50
CATALOG_FILTERING_GRPC_TIMEOUT=30
CATALOG_VALIDITY_REDIS_PASSWORD=9OW014v9JQHfWUkRPDs3T
CT_BUDGET_DF_PASSWORD=MeeshoTest123
MCACHE_AUTH_TOKEN=eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJkZXBsb3lhYmxlX25hbWUiOiJzdGctcnYtaW9wLWdycGMtd2ViIiwidGVhbV9uYW1lIjoiZGlzY292ZXJ5LXJhbmtpbmciLCJidSI6ImRlbWFuZCIsImlzcyI6Im1jYWNoZSIsImlhdCI6MTc1MzgwMDI2OX0.B5xDoH_YBz38MRdTc0qjJoHj1LKV0dUFXOiFVE-Jq3sbVds4fvNsBZudvZWm87W095g_cKd6dMdmIPQV7DrDIg
PRISM_SERVICE_PASSWORD=MeeshoTest123
RV_SUBSTITUTE_AD_FEED_REDIS_PASSWORD=9OW014v9JQHfWUkRPDs3T
RV_SUBSTITUTE_AD_SCALEUP_MP_TIMEOUT_IN_MS=150
RV_SUBSTITUTE_EXPLOIT_FEED_REDIS_PASSWORD=9OW014v9JQHfWUkRPDs3T
RV_SUBSTITUTE_EXPLORE_FEED_REDIS_PASSWORD=9OW014v9JQHfWUkRPDs3T
SEGMENT_STORE_AUTH=MeeshoTest123
client_token=3b884ee5132b2476c8f9e2de984312ad
# OnlineCG environment variables for RV Interactions
RV_INTERACTIONS_EXPLOIT_ONLINECG_HOST=exploit-online-cg-web.stg.meesho.int
RV_INTERACTIONS_EXPLOIT_ONLINECG_PORT=80
RV_INTERACTIONS_EXPLOIT_ONLINECG_TIMEOUT=250
RV_INTERACTIONS_EXPLOIT_ONLINECG_GRPC_PLAIN_TEXT=true

